$-- Minimal pandoc LaTeX template producing a WPnews.sty-compatible
$-- article fragment (no documentclass/preamble) from Markdown+YAML.
$-- Modeled after the author/affiliation handling in the BioHackrXiv
$-- template (../../bhxiv-gen-pdf/resources/biohackrxiv/latex.template),
$-- adapted to the \title/\subtitle/\author/\maketitle/\address macros
$-- defined by WPnews.sty.
$for(affiliations)$$if(affiliations.ror)$\wpdefineaffiliation[$affiliations.ror$]{$affiliations.index$}{$affiliations.name$}
$else$\wpdefineaffiliation{$affiliations.index$}{$affiliations.name$}
$endif$$endfor$
\title{$title$}
$if(subtitle)$\subtitle{$subtitle$}$endif$
\author{by $for(authors)$$authors.name$$if(authors.orcid)$\orcidlink{$authors.orcid$}$endif$$sep$ \& $endfor$}

\maketitle

$body$

\address{%
$for(authors)$$authors.name$$if(authors.orcid)$\orcidlink{$authors.orcid$}$endif$\\
$if(authors.affiliation)$\wpaffiliations{$authors.affiliation$}$endif$
$if(authors.email)$\email{$authors.email$}\\$endif$
$sep$[0.5\baselineskip]
$endfor$}
